.containertitle{
    background-color: #121212;
    /* color: white !important; */
}

.addfestinput{
    margin-bottom: 1%;
}

.containercontent{
    background-color: #121212;
    color: white
}

.datefield{
    margin-top:1%;
}

.addfestcontainer{
    background-color: #121212;
    height:88.8vh;
}

