.myevent {
    background-color: #121212;
    min-height: 100vh;
    padding-top: 3%;
}

#eventcard{
    margin: auto;
    border-radius: 15px;
    overflow: visible !important;
}

 .eventcardcontent{
     border-radius: 15px 15px 0 0;
 }


.eventcardcontent p{
    margin-top: 2%;
    opacity: 0.70;
}

.eventcardcontent h5{
    opacity: 0.87;
}