.backgroundcontainer::before{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("../../public/home/3.jpg");
    background-position:40% 90%;
    opacity: 0.50;
}

.createfesttext{
    position: relative;
    color:white;
    font-family: 'Cerea', sans-serif;
    padding: 10% 15% 10% 15%;
    text-align: center;
}

.createfest h1{
    opacity: 0.87;
}

.createfest h5
{
    opacity: 0.70;
}

.createfestbutton{
    width: 28%;
    height: 8vh;
    text-transform: unset !important;
    margin-top:4% !important;
    border-radius: 100px !important;
    font-size: 18px !important;
    font-weight:500 !important;
    background-color:#BB86FC !important;
    padding: 1% 0 1% 0;
}

.createfest{
    height:120vh;
}

.application{
    background-color: #121212;
    min-height:100vh;
}