.carouselcontainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card .image{
    height:140px;
    width:140px;
    border-radius:50%;
    padding: 3px;
    background-color:#7d2ae8;
}
 
.card .image img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card{
    background-color:white;

    border-radius: 20px;
    position:relative;
    margin: 20px 0;
    width: 280px;
    margin-bottom:4%;
}

.card .card-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;

}

.card::before{
    content:"";
    height:45%;
    width:100%;
    background: #7d2ae8;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.card .name-profession{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
}

.name-profession .name{
    font-size:20px;
    font-weight:600;
    color: white;
}

.name-profession .profession{
    font-size:15px;
    font-weight: 500;
}

.swiper-wrapper{
    width:80% !important;
    margin:0 4.5%;
}

.mySwiper{
    width:90% !important;
    height: 65%;
    /* background-color: white; */
}

.swiper-pagination-bullet
{
    height:7px !important;
    width:26px !important;
    border-radius: 25px !important;
    background:#7d2ae8 !important;
}

.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color:#7d2ae8;
    transition: all 0.3s ease
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color:#7d2ae8;
}