.dualcontainer{
    background-color: #121212 !important;
    padding-top:1%;
    position:relative;
    min-height:100vh;
    max-width:100vw;
}

.dualbuttoncontainer{
    margin-left: 42%;
    margin-top:5%;
    padding-bottom:10%;
}

.dualbutton{
    width: 28%;
height: 8vh;
text-transform: unset !important;
margin-top:4% !important;
border-radius: 100px !important;
font-size: 18px !important;
font-weight:600 !important;
background-color:#BB86FC !important;
padding: 1% 0 1% 0;
color:black !important;
}

