.backgroundcontainer::before{
    content:"";
    opacity: 0.10;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 50%; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg1 {
    height: 50%; 
    background-position: 92% 80%;
    background-repeat: no-repeat;
    background-size: 35vw 70vh;

  }
.fullscreen1 {
    background-image: url("../../public/home/3.jpg");
}

.fullscreen2 {
    background-image: url("../../public/home/second.jpeg");
}

.createfesttext {
    position: relative;
    color:white;
    font-family: 'Cerea', sans-serif;
    padding: 13% 15% 10% 15%;
    text-align: center;
}

.createfesttext2 {
    color:white;
    position: relative;
    font-family: 'Cerea', sans-serif;
    padding: 15% 15% 10% 5%;
    /* text-align: center; */
  
}

.createfest h1{
    opacity: 0.87;
}

.createfest h5
{
    opacity: 0.70;
}

.createfestbutton {
    width: 28%;
    height: 8vh;
    text-transform: unset !important;
    margin-top:4% !important;
    border-radius: 100px !important;
    font-size: 18px !important;
    font-weight:500 !important;
    background-color:#BB86FC !important;
    padding: 1% 0 1% 0;
}

.createfest{
    height:100vh;
}

.application{
    background-color: #121212;
    min-height:100vh;
}